:root {
    --text-dark: #000000;
    --text-light: #ffffff; 
    --background-dark: #000000;
    --gradient-left: #dd4c4f;
    --gradient-right: #ff8a00;

  }

html, body {height: 100%;}

/* body * {max-width: 100vw} */

#main-div {min-height:100%;}

body {background-color: var(--background-dark) !important; color: var(--text-light) !important; font-family: 'Poppins', sans-serif;
}

.row {
    margin-bottom: 30vh;
}


#main-div h1 {
    background: linear-gradient(to right, var(--gradient-left) 0%, var(--gradient-right) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    color: var(--gradient-right);
    font-size: 10em;
  font-family: 'Poppins', sans-serif;
}
#main-div h2{font-size: 1.4rem; font-weight: 400; margin-bottom: 1rem;
    border: 0px;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
    border-image-slice: 1;
    color: var(--text-light);
    margin: auto;
    text-decoration: none;
    display: inline-block;
margin-bottom: 18px;
}
#main-div h3{font-size: 1.2rem; font-weight: 400; margin-bottom: 0.5rem;}
#main-div h4{font-size: 1.1rem; font-weight: 400; margin-bottom: 0.5rem;}
#main-div p{font-size: 1rem; font-weight: 400; margin-bottom: 1rem;}

.pointer {text-decoration: none; color: var(--text-light);}
.pointer:hover {
    background-color: var(--gradient-left);
    background-image: linear-gradient(45deg, var(--gradient-left), var(--gradient-right)); ;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


#footer-row {
    margin-bottom: 0vh;
}

#email {
    text-decoration: none;
}

/* .hidden-content { display: block; } */
.hidden-content.toggle-content { display: none;}

.hidden-content {
    display: block
}


